.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.walletLogo {
  width: 150px;
}

.user {
  display: flex;
  align-items: center;
  color: rgb(82, 82, 82);
}

.user span {
  color: rgb(59, 59, 59);
  margin-right: 7px;
}

.total {
  text-align: end;
  color: rgb(82, 82, 82);
}
